.HomeContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

#MainBody {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 800px;
}

#MainBody h3 {
  font-size: 55px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  /* margin-left: 15%; */
}

#MainBody h5 {
  flex: 1;
  font-size: 55px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: center;
}

#containerSVG {
  width: 70%;
  height: 70%;
  max-width:400px
}

#svg {
  width:"Max-width";
  height: 100%;
}
