<header>
  <div id="container">
    <div class="contentLogo" onClick="loadPage('src/pages/home/index.html')">
      <span id="marca">
        abacati.t
      </span>

      <div>
        <img src="src/assets/avocado.png" alt="abacati.to" id="avocado">
      </div>
    </div>
    <div class="nav">
      <ul class="menu">
      <li class="margem cursor" onClick="loadPage('src/pages/home/index.html')">Home</li>
      <li class="margem cursor"><a onmouseover="mostraMenu()" onmouseout="escondeMenu()" onClick="loadPage('src/pages/cardapio/index.html')">Cardápio</a>
        <ul class="alinha">
          <li class="cursor menu" onmouseover="mostraMenu()" onmouseout="escondeMenu()"><a class="display" id="emagrecimento" onClick="loadPage('src/pages/cardapio/emagrecimento.html')">Emagrecimento</a></li>
          <li class="cursor menu" onmouseover="mostraMenu()" onmouseout="escondeMenu()"><a class="display" id="ganho_peso" onClick="loadPage('src/pages/cardapio/ganho_peso.html')">Ganho de Peso</a></li>
        </ul>
        </li>
      <li class="margem cursor" onClick="loadPage('src/pages/cadastro/index.html')">Cadastro</li>
    </ul>
    </div>
  </div>
  <div class="borderRotate"></div>
</header>