<header>
  <div id="container">
    <div class="contentLogo" onClick="loadPage('src/pages/home/index.html')">
      <span id="marca">
        abacati.t
      </span>

      <div>
        <img src="src/assets/avocado.png" alt="abacati.to" id="avocado">
      </div>
    </div>
    <div class="nav">
      <span onClick="loadPage('src/pages/home/index.html')">Home</span>
      <span onClick="loadPage('src/pages/cardapio/index.html')">Cardápio</span>
      <span onClick="loadPage('src/pages/cadastro/index.html')">Cadrastro</span>
    </div>
  </div>
  <div class="borderRotate"></div>
</header>