#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  padding: 40px 80px 85px 20px;

}

.nav {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;

  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fff;

  max-width: 550px;
}
.nav span {cursor: pointer}

.contentLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-left: 2%;
}

#avocado {
  width: 85px;
  transform: rotate(27deg);
  margin-left: -18px;
  margin-bottom: 3.5px;
}
#marca {
  font-size: 5.5vh;
  font-family: "MS UI Gothic", sans-serif;
  font-weight: lighter;
  color: #fff;
}

/* rotação da header e corrigido para varios navegadores
*/
.borderRotate {
  width: 100%;
  height: 5em;
  background: #fff;
  position: absolute;
  margin-top: -33px;
  margin-bottom: 20px;


  transform: skewY(-2deg);
  border-top: 15px solid #7cb518;
}

#redirecionaCardapio{
  color:#fff;
  text-decoration: none;
}

.contentLogo{
  cursor: pointer;
}

.display{
  display: none;
}

.menu{
  list-style:none;
  float:left;
}

.menu li{
  position:relative;
  float:left;
}

.menu li  ul{
  position:absolute;
  top:25px;
  left:0;
  background-color:#5c8001;
  display:none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
  border:1px solid #5c8001;
  display:block;
  width:150px;
}

.margem{
  margin-inline: 40px;
}

.cursor{
  cursor: pointer;
  list-style:none;
}

.alinha{
  display: flex;
  flex-direction: column;
}